.allBlock {
  width: 1200px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 800px) {
  .allBlock {
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
  }
}
.allBlock .firstBlock .blockSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.allBlock .firstBlock .blockSelect .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .allBlock .firstBlock .blockSelect .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
    gap: 15px;
  }
}
.allBlock .firstBlock .blockSelect .images .myCustomClass {
  width: 150px;
  height: 100px;
  cursor: pointer;
  border: 2px solid #123456;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 800px) {
  .allBlock .firstBlock .blockSelect .images .myCustomClass {
    width: 90px;
    height: 90px;
    padding: 2px;
  }
}
.allBlock .firstBlock .blockSelect .images .selected {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
}
.allBlock .secondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.allBlock .secondBlock .textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.allBlock .secondBlock .textBlock .h1 {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 26px;
}
@media (max-width: 800px) {
  .allBlock .secondBlock .textBlock .h1 {
    border: 1px solid #123456;
    padding: 5px;
    border-radius: 8px;
  }
}