.allBlock
  width: 1200px
  margin: 100px auto
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @media (max-width: 800px)
    width: 100%
    max-width: 400px
    margin-left: 20px
  .firstBlock
    .blockSelect
      display: flex
      flex-wrap: wrap-reverse
      .images
        display: flex
        flex-direction: column
        margin-right: 20px
        @media (max-width: 800px)
          display: flex
          flex-direction: row
          margin-left: 0
          gap: 15px
        .myCustomClass
          width: 150px
          height: 100px
          cursor: pointer
          border: 2px solid #123456
          padding: 10px
          border-radius: 8px
          align-items: center
          display: flex
          justify-content: center
          @media (max-width: 800px)
            width: 90px
            height: 90px
            padding: 2px
        .selected
          border: 2px solid #ffffff
          padding: 10px
          border-radius: 8px

  .secondBlock
    display: flex
    flex-direction: column
    .textBlock
      display: flex
      align-items: center
      gap: 10px
      justify-content: center
      margin-bottom: 15px
      .h1
        font-family: 'Quicksand', sans-serif
        color: white
        font-size: 26px
        @media (max-width: 800px)
          border: 1px solid #123456
          padding: 5px
          border-radius: 8px

